environments/dev/Azure/poc_1/.terraform.lock.hcl
environments/dev/Azure/poc_1/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/windows_amd64/terraform-provider-azurerm_v4.19.0_x5.exe
environments/dev/Azure/poc_1/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.19.0/windows_amd64/LICENSE.txt
environments/dev/.terraform/modules/modules.json
